<div class="row comment-fix">
  <div class="col-md-3">
    <section class="chef_info center">
      <%= gravatar_for(comment.chef, size: 50) %>
    </section>
  </div>
  <div class="col-md-8 card">
    <p><%= comment.description %></p>
    <p>
      <span class="quiet"><small>Created:
      <%= time_ago_in_words(comment.created_at) %> ago by: 
      <%= comment.chef.chefname.titleize %></small></span>
    </p>
  </div>
</div>


  