<%= render 'shared/page_title', title: "Chef #{@chef.chefname}'s Profile" %>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-4-center">
      <%= gravatar_for @chef, size: 120 %>
    </div>
  </div>
  
  <h4 align="center"><%= @chef.chefname.titleize %>'s Recipes</h4>
  <%= render 'recipes/recipe', obj: @chef.recipes %>
</div>

